body {
  margin: 8;
  background: pink;
  font-family:fantasy;
}

h1 {
  color: black;

}

a {
color: #340
}

em {
color: #777
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  color: white;

}
